@model IEnumerable<string>
@{
    ViewBag.Title = "PartialView";
    string[] list = { "one", "two", "three" };
}

@Html.Partial("_LinkPartialView")

<h2>PartialView</h2>

<h4>Html.Partial demo</h4>
<div>
    <b>Fruits</b>
    @Html.Partial("_ViewSrtingListPartial", Model)
</div>
<div>
    <b>Cities</b>
    @Html.Partial("_ViewSrtingListPartial", (string[])ViewBag.Cities)
</div>
<div>
    <b>Count</b>
    @Html.Partial("_ViewSrtingListPartial", list)
</div>

<h4>Html.RenderPartial demo</h4>
<div>
    <b>Fruits</b>
    @{Html.RenderPartial("_ViewSrtingListPartial", Model);}
</div>
<div>
    <b>Cities</b>
    @{Html.RenderPartial("_ViewSrtingListPartial", (string[])ViewBag.Cities);}
</div>
<div>
    <b>Count</b>
    @{Html.RenderPartial("_ViewSrtingListPartial", list);}
</div>

@*<div>
        <b>Fruits</b>
        <ul>
            @foreach (var f in Model)
            {
                <li>@f</li>
            }
        </ul>
    </div>
    <div>
        <b>Cities</b>
        <ul>
            @foreach (var f in ViewBag.Cities)
            {
                <li>@f</li>
            }
        </ul>
    </div>
    <div>
        <b>Count</b>
        <ul>
            @foreach (var f in list)
            {
                <li>@f</li>
            }
        </ul>
    </div>*@
